<!DOCTYPE html>
<html lang="en">
	<head>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
		<title>SafeSystemBoot</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
<div class="container">
		<h1>Safe System Boot</h1>
	<div class="row">
		<div class="col-6">
			<form action="" method="POST">
				<div class="form-group">
					<label for="nombre">Nombre</label>
					 <input class="form-control" type="text" id="nombre" name="nombre" class="textos" placeholder="Ingrese su nombre">
					
				</div>
				<div class="form-group">
					<label for="apellido">Apellido</label>
					<input class="form-control" type="text" name="apellido" placeholder="Ingrese su apellido">

				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" type="text" name="email" placeholder="Ingrese su email" onclick="">
				</div>

			</form>

		</div>


	</div>



</div>
	</body>
</html>